-r requirements.txt
onnxruntime-gpu>=1.16
py3nvml>=0.2.7

# cuda-python is needed for cuda graph. It shall be compatible with CUDA version of torch and onnxruntime-gpu.
cuda-python==11.8.0
# For windows, cuda-python need the following
pywin32; platform_system == "Windows"

#To export onnx of stable diffusion, please install PyTorch 1.13.1+cu117
#or 2.10 like pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu118
#pip install --upgrade polygraphy>=0.47.0 onnx-graphsurgeon --extra-index-url https://pypi.ngc.nvidia.com
